<h3><b>Create a new Task:</b></h3>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :name, placeholder: "ex: Sleep" %>
  <%= f.input :description, placeholder: "ex: Go to bed at 23h" %>
  <%= f.submit class: "btn btn-outline-secondary btn-sm" %>
<% end %>
